<div class="container" style="margin-top: 50px">
  <h3>Welcome to Drone Application</h3>
  <p></p>
  <p></p>
  <p><b>Drones: </b><%= @drones_count %></p>
  <p><b>Engines: </b><%= @engines_count %></p>
  <p><b>Gyroscopes: </b><%= @gyroscopes_count %></p>
  <p><b>Orientation Sensors: </b><%= @orientation_sensors_count %></p>
  <p><b>Ready To Fly Drones: </b><%= @result.count %></p>
</div>
